<div class="footer">
	<div class="footer-main">
		<a href="https://www.facebook.com/seojin.lee.965" class="icons facebook">
			<span></span>
			<p>Seojin Lee</p>
		</a>
		<a href="http://github.com/seojinlee" class="icons github">
			<span></span>
			<p>github.com/seojinlee</p>
		</a>
		<a href="/contact" class="icons email">
			<span></span>
			<p> seojinlee0404@gmail.com </p>
		</a>
	</div>
	<hr>
	<div class="footer-toe">
		2015 | Seojin Lee
		<script src='/bower_components/jquery/dist/jquery.min.js'></script>
		<script src='/build/script.js'></script>
	</div>
</div>