<div class="footer">
	<div class="footer-main">
		<div class="footer-col">
			<a href="https://www.facebook.com/seojin.lee.965" class="icons facebook">
				<i class="fa fa-facebook"></i>
				<p>Seojin Lee</p>
			</a>
		</div>
		<div class="footer-col">
			<a href="http://github.com/seojinlee" class="icons github">
				<i class="fa fa-github"></i>
				<p>github.com/seojinlee</p>
			</a>
		</div>
		<div class="footer-col">
			<a href="/contact" class="icons email">
				<i class="fa fa-envelope"></i>
				<p> leeseojin0404@gmail.com </p>
			</a>
		</div>
	</div>
	<hr>
	<div class="footer-toe">
		2015 | Seojin Lee
		<script src='/bower_components/jquery/dist/jquery.min.js'></script>
		<script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
		<script src='/javascripts/index.js'></script>
	</div>
</div>