<div class="navbar">
	<div class="container">
		<nav>
			<div class="callapse">
				<ul class="nav navbar-nav">
					<li><a href="/aboutme">ABOUT ME</a><hr></li>
					<li><a href="/engineering">ENGINEERING</a><hr></li>
					<li><a class="logo" href="/"><img src="/images/logo-white.png" alt="logo"></a></li>
					<li><a href="/webdev">WEB DEV</a><hr></li>
					<li><a href="/contact">CONTACT</a><hr></li>
				</ul>
			</div>
			<div class="navbar-mobile">
				<div class="navbar-header">
					<a href="/"><img src="/images/logo-white.png" alt="logo"></a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown hamburger">	
		          		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-bars"></i>
		          		</a>
		          		<ul class="dropdown-menu">
							<li><a href="/aboutme">ABOUT ME</a></li>
							<li><a href="/engineering">ENGINEERING</a></li>
							<li><a href="/webdev">WEB DEV</a></li>
							<li><a href="/contact">CONTACT</a></li>
			          	</ul>
			        </li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="backdrop"></div>
</div>